<body>

pso
<div>
<canvas id="can" width="500" height="500" style="border:1px solid #000000;">
</canvas>
</div>

<script>
var swarmsize = 1000;
var radius = 5;
var particleradius = 2;
var minx = -4;
var maxx = 4;
var miny = -4;
var maxy = 4;
var minz = -50;
var maxz = 50;

var iters = 100000000;
var speed = 100;
var w = 0.9;
var Fg = 0.1;
var Fp = 0.5;

var g = {};
g.x = 99;
g.y = 99;

var swarm = [];

main();


function fitness(x, y) {
  //return x*x + y*y;
  return x*x*x*x+x*x*x-9*(x*x)+x + y*y*y*y+y*y*y-9*(y*y)+y;
}

function iterate() {
  for (var i = 0; i < swarmsize; i++) {
    var rpx = random01();
    var rpy = random01();
    var rgx = random01();
    var rgy = random01();
    swarm[i].vx = w*swarm[i].vx + Fp*rpx*(swarm[i].px-swarm[i].x) + Fg*rgx*(g.x-swarm[i].x);
    swarm[i].vy = w*swarm[i].vy + Fp*rpy*(swarm[i].py-swarm[i].y) + Fg*rgy*(g.y-swarm[i].y);
    swarm[i].x = swarm[i].x + swarm[i].vx;
    swarm[i].y = swarm[i].y + swarm[i].vy;
    
    if (fitness(swarm[i].x, swarm[i].y) < fitness(swarm[i].px, swarm[i].py)) {
      swarm[i].px = swarm[i].x;
      swarm[i].py = swarm[i].y;
      if (fitness(swarm[i].px, swarm[i].py) < fitness(g.x, g.y)) {
        g.x = swarm[i].px;
        g.y = swarm[i].py;
      }
    }
    
    
    
  }
  printswarm();
  
  
  
  
  
  setTimeout(iterate, speed);
}



function main() {
  var c = document.getElementById("can");
  var ctx = c.getContext("2d");
  
  for (var i = 0; i < swarmsize; i++) {
    swarm[i] = {};
    //swarm[i].x = i*((minx-maxx)/swarmsize);
    //swarm[i].y = i*((miny-maxy)/swarmsize);
    swarm[i].x = random01()*(minx-maxx)+maxx;
    swarm[i].y = random01()*(miny-maxy)+maxy;
    swarm[i].px = swarm[i].x;
    swarm[i].py = swarm[i].y;
    swarm[i].vx = 0;
    swarm[i].vy = 0;
    if (fitness(swarm[i].x, swarm[i].y) < fitness(g.x, g.y)) {
      g.x = swarm[i].px;
      g.y = swarm[i].py;
    }
  }
  
  setTimeout(iterate, speed);
  
  
  
  backgroud();
  
  
  
}

function backgroud() {
  for (var x = minx; x < maxx+0.1; x+=0.1) {
    for (var y = miny; y < maxy+0.1; y+=0.1) {
      drawCircle(x, y, fitness(x, y));
    }
  }
}

function drawCircle(x, y, f) {
  var c = document.getElementById("can");
  var ctx = c.getContext("2d");
  ctx.beginPath();
  x = (x-minx)/(maxx-minx)*c.width;
  y = (y*-1-miny)/(maxy-miny)*c.height;
  ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
  f = (f-minz)/(maxz-minz)*255;
  ctx.fillStyle = RGB2string(f, 0, 0);
  ctx.fill();

}

function drawParticle(x, y) {
  var c = document.getElementById("can");
  var ctx = c.getContext("2d");
  ctx.beginPath();
  x = (x-minx)/(maxx-minx)*c.width;
  y = (y*-1-miny)/(maxy-miny)*c.height;
  ctx.arc(x, y, particleradius, 0, 2 * Math.PI, false);
  ctx.fillStyle = RGB2string(0, 0, 255);
  ctx.fill();

}

function printswarm() {
  backgroud();
  for (var i = 0; i < swarmsize; i++) {
    drawParticle(swarm[i].x, swarm[i].y);
  }
}


function random01() {
  return Math.random();
}


function RGB2string(r, g, b) {
  return "rgb(" + r + ", " + g + ", " + b + ")";
}

</script>

</body>
